# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\THEToilet\workstation\github-program-rate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
